/* GLOBAL STYLES */

body {
  margin:0;
  padding:0;
  background: #222;
}
header {
  background: #ccc;
  color: #444;
  text-align: center;
}
h1 {
  font-size: 2.5em;
  margin: 0;
  padding: 1em;
}
h2 {
  font-size: 1.5em;
}
main {
  max-width: 1000px;
  margin: 0 auto;
  background: #eee;
  text-align: center;
  padding: 2px;
}
section {
  font-size: 1em;
  background: #888;
  width: 22%;
  margin: 1em 1% 1em 1%;
  display: inline-block;
}
section:hover {
  background: #666;
}
